* {
    margin: 0;
    padding: 0;

}
.main {
    margin: 0 auto;
}
.clearfix:after {
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
    display: block;

}

/**页眉**/
header {
    width: 100%;
}
header span {
    float: left;
    margin-left: 50px;
}
header ul {
    list-style-type: none;
    float: right;
    margin-right: 10px;

}
a {
    display: block;
    width: 100px;
}
header ul li {
    float: left;
    margin: 10px 0;
}

header ul li:last-child a{
    color: rgb(161,16,16);
}
header ul li:hover {
    color: rgb(161,16,16);
    border-bottom: 2px solid rgb(161,16,16);
}

/**大图片**/
.banner {
    background-image: url("images/banner.png");
    height: 700px;
    clear: both;
    padding-left: 100px;
    color: white;
}
.banner h1 {
    padding: 200px 0 20px 0;
    font-size: 50px;
}
.banner p {
    width: 300px;
    height: 50px;
    background-color: rgb(161,16,16);
    color: white;
    text-align: center;
    margin-top: 60px;
    padding-top: 20px;
    font-size: 20px;

}

/**div1**/
[class|=div1] {
    float: left;
    display: inline;
    text-align: center;
    width: 24.8%;
}

[class|=div1] img {
    margin: 20px;
    

}

[class|=div1] p {
    border-right: 1px solid black;
    margin-bottom: 30px;
    height: 50px;
    padding: 20px 0;
}
/**div2**/
.div2 {
    clear: both;
    text-align: center;
    background-color: #dbe0e9;

}
.div2 img {
    margin: 50px auto;
}
.div2 p {
    font-size: 50px;
    color: gray;
    padding-bottom: 60px;
}

/**div3**/
.div3 {
    height: 300px;
    background-image: url("images/mainbody3.png");
    text-align: center;
    padding: 50px 100px 0 100px;

}
.div3 ul{
    list-style-type: none;

}
.div3 ul li {
    float: left;
}

select,[type=submit] {
    width: 220px;
    height: 30px;
    margin: 0 20px;
}

.div3 [type=submit] {
    background-color: rgb(161,16,16);
    border: none;
    color: white;
}

/**div4**/
.div4 {
    
    height: 400px;
    padding: 100px;
    background-color: rgba(245, 249, 250, 0.815)
}

.div4 [class|=div4] {
    float: left;
    text-align: center;
    margin: 0 20px;
    padding: 5px;
    background-color: white; 
}

/**div5**/
.div51 {
    clear: left;
    float: left;
    width: 63%;
    height: 350px;
    background-image: url("images/mainbody5.png");
    text-align: center;
    color: white;
    padding: 100px 0;
    position: relative;

}
.div51 span {
    font-size: 50px;
}
.div51 h1 {
    font-size:150px;
}
.div51 div {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: white;
}



.div52 {
    width: 20%;
    height: 150px;
    float: right;
    font-size: 12px;
    margin: 150px 100px;
   
}
.div52 h2 {
    text-align: center;
    margin: 10px auto;
}
.div52 span,.div52 p{
    color: rgb(161,16,16);

}
.div52 p {
    width: 100px;
    height: 20px;
    margin: 50px auto;
    border: 2px solid rgb(161,16,16);
    text-align: center;
}

/**div61**/
[class|=div6] {
    float: left;
}
.div6-1 {
    height: 200px;
    width: 31.3%;
    clear:left;
    background-color: rgb(161,16,16);
    color: white;
    padding: 150px 0;
    text-align: center;
}
.div6-2 {
    height: 200px;
    width: 31.3%;
    background-color: white;
    color: rgb(0,0,0);
    padding: 150px 0;
    text-align: center;

}
.div6-1 div {
    width: 100px;
    height: 20px;
    margin: 0 auto;
    border: 2px solid white;
}
.div6-2 div {
    width: 100px;
    height: 20px;
    margin: 0 auto;
    border: 2px solid rgb(161,16,16);
    color: rgb(161,16,16);
}
.div6-3 {
    width: 36.8%;
    height: 500px;
    background-image: url("images/mainbody6.png");

}

/**div7**/
.div7 {
    clear: left;
    text-align: center;
    height: 50px;
    padding: 100px 0;
}

.div71 {
    float: left;
    width: 400px;
    height: 300px;
    margin: 0 50px 100px 120px;
    

}
.div72 {
    float: right;
    width: 600px;
    height: 300px;
    margin: 0  120px 100px 50px;
    border-spacing: 10px;
    border: none;


}

.div72 td {
    border: none;
    background-color: rgb(229, 232, 233);
    padding: 0 10px;
    position: relative;

}
.div72 tr:last-child {
    text-align: center;
}
.div72 select,
textarea,
.div72 input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(229, 232, 233);
    

}
.div72 td span {
    position: absolute;
    left: 0;
    top: 7px;
    
}

footer {
    clear: both;
    text-align: center;
    padding: 100px 0;
    background-color: rgb(54, 55, 56);
    color: white;
}

footer [type=text] {
    height: 30px;
    width: 500px;
    margin: 20px 0;
    margin-right: -30px;
}
footer [type=submit] {
    height: 32px;
    width: 100px;
    margin: 20px 0;
}

footer+div {
    background-color: rgb(54, 55, 56);
    color: white;
}
footer+div span:first-child {
    float: left;
    margin-left: 50px;
}
footer+div span:last-child {
    float: right;
    margin-right: 50px;
}




